@import "colours";

$width: 300px;
$spacing: 20px;

figure {
  padding: $spacing;
  width: $width;
  margin: $spacing;
  border-radius: 15px;
  background-color: $card-colour;
  transition: 0.5s;

  &:hover{
    transform: scale(1.1, 1.1);
    background-color: $card-hover-colour;
  }

  > img {
    height: 200px;
    width: $width;
    object-fit: cover;
  }
}