@import "colours";

form {
  display: flex;
  flex-direction: column;
  padding: 0 15%;

  @media screen and (max-width: 600px) {
    padding: 0 5%;
  }

  input, textarea {
    display: block;
    margin: 10px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    resize: none;
  }

  .submit-button {
    border: none;
    background-color: $main-colour;
    color: white;
  }
}