@import "colours";

* {
  font-family: sans-serif;
  margin: 0;
}

button {
  margin: 10px;
  padding: 10px;
  background-color: $main-colour;
  color: white;
  border: none;
  border-radius: 5px;
}

header {
  font-size: xxx-large;
  font-weight: bold;
  padding: 1rem;
  background-color: $main-colour;
  color: white;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  &.main {
    flex-direction: column;
    padding: 10%;
  }

  &.cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &.text {
    padding-top: 2%;
    font-size: 20px;
  }
}