@import "colours";

* {
  font-family: sans-serif;
  margin: 0;
}

button {
  margin: 10px;
  padding: 10px;
  background-color: $main-colour;
  color: white;
  border: none;
  border-radius: 5px;
}

header {
  font-size: xxx-large;
  font-weight: bold;
  padding: 1rem;
  background-color: $main-colour;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  &.main {
    flex-direction: column;
    padding: 10%;
  }

  &.cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &.text {
    padding-top: 2%;
    font-size: 20px;

    @media screen and (max-width: 600px) {
      padding: 5% 10% 0;
    }
  }
}

.overlay {

    display: none;
    position: fixed;
    z-index: 10;

    .background {
      opacity: 0.7;
      background-color:#000;
      width:100%;
      height:100%;
      top:0;
      left:0;
      position:fixed;
    }

    img {
      position: fixed;
      max-width: 90%;
      max-height: 90%;
      inset: 0;
      margin: auto;
    }

    button {
      top: 0;
      right: 0;
      position: fixed;
      display: flex;
      font-weight: bold;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      height: 30px;
      width: 30px;
      border-radius: 50px;
      background: white;
      color: $main-colour; 
      z-index: 1;
    }
}